<!DOCTYPE html>
<html>
<head>
  <title>JsDataLab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://cdn.oesmith.co.uk/morris-0.4.3.min.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js" %>
  <%= javascript_include_tag "http://cdn.oesmith.co.uk/morris-0.4.3.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
